[submodule "dotbot"]
	path = sublib/dotbot
	url = https://github.com/anishathalye/dotbot.git
    ignore = dirty
[submodule "dotbot-sudo"]
	path = sublib/dotbot-plugins/sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
    ignore = dirty
[submodule "i3blocklets"]
	path = sublib/i3blocklets
	url = https://github.com/etkeys/i3blocks-blocklets.git
    ignore = dirty
