[submodule "dotbot"]
	path = sublib/dotbot
	url = https://github.com/anishathalye/dotbot.git
    ignore = dirty
[submodule "dotbot-sudo"]
	path = sublib/dotbot-plugins/sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
    ignore = dirty
