[Desktop Entry]
Comment[en_US]=Run Joplin to activate webserver
Comment=Run Joplin to activate webserver
Exec=/home/erik/.local/bin/scripts/run-after-delay.sh 30 joplin-desktop
GenericName[en_US]=
GenericName=
Hidden=false
MimeType=
Name[en_US]=Joplin
Name=Joplin
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-Autostart-Delay=60
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MATE-Autostart-Delay=60
